<h1 id='form_title' class='form title'>Webrat Image Buttons Form to check that X/Y coordinates are sent as params  </h1>

<% form_tag "/image_submit_buttons" do %>
  <input type="image" id="input_image_id" value="input_image_value" alt="input_image_alt" src="" />
<% end %>